#root {
  width: 100vw;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-nav {
  background-color: #753434 !important;
}

.custom-nav .nav-link {
  color: #fff !important;
}
.custom-nav .navbar-toggler {
  border-color: #fff !important;
}
.custom-nav .navbar-toggler-icon {
  filter: invert(1);
}

.custom-nav .nav-link:hover {
  background-color: #4a2020 !important;
  border-radius: 4px;
}

.btn {
  background-color: #C0C9B2 !important;
  border-color: #C0C9B2 !important;
  color: #000 !important;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: #aab39e !important;
  border-color: #aab39e !important;
}

.btn-delete {
  background-color: #C04644 !important;
  border-color: #C04644 !important;
  color: #fff !important;
  transition: 0.2s ease;
}

.btn-delete:hover {
  background-color: #a33735 !important; /* slightly darker */
  border-color: #a33735 !important;
}

.image-drop-zone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.image-drop-zone-active {
  border-color: #C0C9B2;
  background-color: #f5f7f0;
}
